<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add new reservations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Add new Reservation</h1>
    <form th:action="@{/reservierung/add}" th:object="${reservierung}" method="post">
        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

        Reservation Date
        <input type="date" th:field="*{reservationDate}" class="form-control" placeholder="reservierung Date">

        Reservation Time
        <input type="text" th:field="*{reservationTime}" class="form-control">

        <label for="patselect">Patient</label>
        <select id="patselect" name="patientId" class="form-control">
            <option value="">-- Patient auswaehlen --</option>
            <option th:each="p : ${patients}" th:value="${p.id}" th:text="${p.name + ' ' + p.surname}"></option>
        </select>

        <label for="devselect">Device</label>
        <select id="devselect" name="deviceId" class="form-control">
            <option value="">-- Geraet auswaehlen --</option>
            <option th:each="d : ${devices}" th:text="${d.art + ' / Raum ' + d.raumnr}" th:value="${d.id}"></option>
        </select>

        choose body region
        <select th:field="*{bodyPart}" class="form-control">
            <option value="head">head</option>
            <option value="chest">chest</option>
            <option value="abdomen">abdomen</option>
            <option value="pelvis">pelvis</option>
            <option value="extremities">extremities</option>
        </select>

        additional comment
        <input type="text" th:field="*{commentar}" class="form-control" placeholder="additional comment">

        <input type="submit" class="form-control" value="Save">
    </form>
</div>
</body>
</html>
