<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>add new patient</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Add new Reservation</h1>
    <form th:action="@{/reservierung/add}" th:object="${reservierung}" method="post">
        Reservation Date<input type="date" th:field="*{reservationDate}" class="form-control" placeholder="reservierung Date">
        Reservation Time<input type="time" th:field="*{reservationTime}" class="form-control">
        <input type="submit" class="form-control" value="Save">
    </form>
</div>
</body>
</html>