<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Radiologie Institut</h1>
    <p>Hier können Reservierungen für Geräte der Radiologie vorgenommen werden, wenn ein Patient einen Termin hat.</p>

    <p>
        Hier eine Auflistung aller Möglichkeiten:
    </p>
    <div>
        <ul>
            <li>Neuen Patient registrieren --> klicken Sie bitte <a href="/patient/list">hier</a></li>
            <li>Reservierung erfassen --> klicken Sie bitte <a href="/reservierung/add">hier</a></li>
            <li>Alle Reservierungen eines Gerätes anzeigen --> klicken Sie bitte <a href="/reservierung/list">hier</a></li>
            <!--mit dropdown statt link machen-->
        </ul>

    </div>
</div>
</body>
</html>