<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>surname</th>
            <th>birth</th>
            <th>svnr</th>
            <th>geschlecht</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${patients}">
            <td th:text="${p.name}"></td>
            <td th:text="${p.surname}"></td>
<!--            <td th:date="${p.birth}"></td>-->
            <td th:text="${#temporals.format(p.birth, 'dd.MM.yyyy')}"></td>
            <td th:text="${p.svnr}"></td>
            <td th:text="${p.geschlecht}"></td>
        </tr>
        </tbody>

    </table>

    <p>
        <a href="/patient/add">new patient</a>
    </p>
    <p>
        <a href="/">startseite</a>
    </p>
</div>
</body>
</html>