<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>date</th>
            <th>time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${reservations}">
            <td th:text="${r.id}"></td>
            <td th:text="${r.date}"></td>
            <td th:text="${r.time}"></td>
        </tr>
        </tbody>

    </table>

    <p>
        <a href="/reservierung/add">new reservirung</a>
    </p>
</div>
</body>
</html>